body {
	font-family: 'Lato', sans-serif;
}
a {
	color: #b71a4c;
}
#detail {  border: 4px dotted orange;padding: 5px;
margin-top: 10px; text-align: center;}
@media only screen and (max-width: 10000px) {
	#front-indicator2 {
		width: 100%;
		margin: auto;
		background-color: #d6d6d6;
		color: #000000;
		text-align: center;
		padding: 34%;
		border-radius: 5px;
	}
}
@media only screen and (max-width: 600px) {
	#front-indicator2 {
		width: 100%;
		margin: auto;
		background-color: #d6d6d6;
		color: #000000;
		text-align: center;
		padding: 20%;
		border-radius: 5px;
	}
}
@media only screen and (max-width: 10000px) {
	#vertical-text{
		background-color: #d6d6d6;
		color: #000000;
		padding: 4%;
		margin-left: 2px;
		margin-top: 8px;
		border-radius: 5px;
		writing-mode: vertical-rl;
		display: inline-block;
	}
}
@media only screen and (max-width: 600px) {
	#vertical-text{
		background-color: #d6d6d6;
		color: #000000;
		padding: 8%;
		margin-left: 2px;
		margin-top: 8px;
		border-radius: 5px;
		writing-mode: vertical-rl;
		display: inline-block;
	}
}

@media only screen and (max-width: 10000px) {
#ZoneBar{
	background-color: #d6d6d6;
	color: #000000;
	padding: 4%;
	margin-left: 2px;
	margin-top: 8px;
	border-radius: 5px;
	writing-mode: vertical-rl;
	display: inline-block;
	}
}
@media only screen and (max-width: 600px) {
#ZoneBar{
	background-color: #d6d6d6;
	color: #000000;
	padding: 8%;
	margin-left: 2px;
	margin-top: 8px;
	border-radius: 5px;
	writing-mode: vertical-rl;
	display: inline-block;
	}
}
#Zonegreen{
	background-color: #b0dbc2;
	padding: 15px;
}
#Zoneyellow{
	background-color: #fcde60;
	padding: 15px;
}
#Zonered{
	background-color: #f67279;
	padding: 15px;
}
#front-indicator {
	width: 100%;
	margin: auto;
	background-color: #d6d6d6;
	color: #000000;
	text-align: center;
	padding: 1%;
	border-radius: 5px;
}
@media only screen and (max-width: 10000px) {
   #Zone1 {
		background-color: #f0d399;
	 	color: #000000;
	 	padding: 4%;
	 	margin-left: 2px;
	   margin-top: 8px;
	 	border-radius: 5px;
	 	cursor: pointer;
   }
}
@media only screen and (max-width: 600px) {
   #Zone1 {
		background-color: #f0d399;
	 	color: #000000;
	 	padding:14%;
	 	margin-left: 2px;
	   margin-top: 8px;
	 	border-radius: 5px;
	 	cursor: pointer;
   }
}
#Zone1:hover {
  background-color: #c9b17f;
}
#Zone2{
	background-color:#f0d399;
	color: #000000;
	padding: 35px;
	margin-left: 2px;
  margin-top: 8px;
	border-radius: 5px;
	cursor: pointer;
}
#Zone2:hover {
  background-color: #c9b17f;
}
@media only screen and (max-width: 10000px) {
	#Zone3{
		background-color:#e48a86;
		color: #000000;
		padding:5%;
		margin-left: 2px;
	    margin-top: 6px;
		border-radius: 5px;
		cursor: pointer;
	}
}
@media only screen and (max-width: 600px) {
	#Zone3{
		background-color:#e48a86;
		color: #000000;
		padding:9%;
		margin-left: 2px;
	    margin-top: 6px;
		border-radius: 5px;
		cursor: pointer;
	}
}
#Zone3:hover {
  background-color: #bd716d;
}
@media only screen and (max-width: 10000px) {
	#Zone4{
		background-color: #e48a86;
		color: #000000;
		padding: 5%;
		margin-left: 2px;
	margin-top: 20px;
		border-radius: 5px;
		cursor: pointer;
	}
}
@media only screen and (max-width: 600px) {
	#Zone4{
		background-color: #e48a86;
		color: #000000;
		padding: 9%;
		margin-left: 2px;
	margin-top: 20px;
		border-radius: 5px;
		cursor: pointer;
	}
}
#Zone4:hover {
  background-color: #bd716d;
}
#Zone5{
	background-color: #d6d6d6;
	color: #000000;
	padding: 30px;
	margin-top: 7px;
	border-radius: 20px;
}
@media only screen and (max-width: 10000px) {
#Zone6{
	background-color: #f0d399;
	color: #000000;
	padding:8%;
	margin-left: 0.5%;
	margin-right: 0.5%;
	text-align: center;
	border-radius: 5px;
	cursor: pointer;
}
}
@media only screen and (max-width: 600px) {
	#Zone6{
		background-color: #f0d399;
		color: #000000;
		padding:8%;
		margin-left: 0.5%;
		margin-right: 0.5%;
		text-align: center;
		border-radius: 5px;
		cursor: pointer;
	}
}

#Zone6:hover {
  background-color: #c9b17f;
}
#Zone7{
	background-color: #b0dbc2;
	color: #000000;
	padding: 30px;
	margin-left: 2px;
  margin-top: 20px;
	border-radius: 5px;
	cursor: pointer;
}
#Zone7:hover {
  background-color: #bd716d;
}
#Zone1-1{
	background-color: #b0dbc2;
	color: #000000;
	padding: 6%;
	margin-left: 2px;
  margin-top: 8px;
	border-radius: 5px;
	cursor: pointer;
}
#Zone1-1:hover {
  background-color: #93baa3;
}
@media only screen and (max-width: 10000px) {
   #Zone2-1 {
		background-color: #b0dbc2;
	 	color: #000000;
	 	padding: 18%;
	 	margin-left: 2px;
	   margin-top: 8px;
	 	border-radius: 5px;
	 	cursor: pointer;
   }
}
@media only screen and (max-width: 600px) {
   #Zone2-1 {
		background-color: #b0dbc2;
	 	color: #000000;
	 	padding:22%;
	 	margin-left: 2px;
	   margin-top: 8px;
	 	border-radius: 5px;
	 	cursor: pointer;
   }
}
#Zone2-1:hover {
  background-color: #93baa3;
}
@media only screen and (max-width: 10000px) {
   #Zone2-2 {
		background-color: #b0dbc2;
	 	color: #000000;
	 	padding: 18%;
	 	margin-left: 2px;
	   margin-top: 8px;
	 	border-radius: 5px;
	 	cursor: pointer;
   }
}
@media only screen and (max-width: 600px) {
   #Zone2-2 {
		background-color: #b0dbc2;
	 	color: #000000;
	 	padding:22%;
	 	margin-left: 2px;
	   margin-top: 8px;
	 	border-radius: 5px;
	 	cursor: pointer;
   }
}
#Zone2-2:hover {
  background-color: #93baa3;
}
@media only screen and (max-width: 10000px) {
   #Zone3-1 {
		background-color: #b0dbc2;
	 	color: #000000;
	 	padding: 35%;
	 	margin-left: 2px;
	   margin-top: 8px;
	 	border-radius: 5px;
	 	cursor: pointer;
   }
}
@media only screen and (max-width: 600px) {
   #Zone3-1 {
		background-color: #b0dbc2;
	 	color: #000000;
	 	padding:30%;
	 	margin-left: 2px;
	   margin-top: 8px;
	 	border-radius: 5px;
	 	cursor: pointer;
   }
}
#Zone3-1:hover {
  background-color: #93baa3;
}
@media only screen and (max-width: 10000px) {
   #Zone5-1 {
		background-color: #b0dbc2;
 	 	color: #000000;
 	 	padding: 3%;
	 	margin-left: 2px;
	   margin-top: 8px;
	 	border-radius: 5px;
	 	cursor: pointer;
   }
}
@media only screen and (max-width: 600px) {
   #Zone5-1 {
		background-color: #b0dbc2;
	 	color: #000000;
	 	padding: 4%;
	 	margin-left: 2px;
	   margin-top: 8px;
	 	border-radius: 5px;
	 	cursor: pointer;
   }
}
#Zone5-1:hover {
  background-color: #93baa3;
}
@media only screen and (max-width: 10000px) {
   #Zone5-2 {
		background-color: #b0dbc2;
 	 	color: #000000;
 	 	padding: 6%;
	 	margin-left: 2px;
	   margin-top: 8px;
	 	border-radius: 5px;
	 	cursor: pointer;
   }
}
@media only screen and (max-width: 600px) {
   #Zone5-2 {
		background-color: #b0dbc2;
	 	color: #000000;
	 	padding: 7%;
	 	margin-left: 2px;
	   margin-top: 8px;
	 	border-radius: 5px;
	 	cursor: pointer;
   }
}
#Zone5-2:hover {
  background-color: #93baa3;
}
@media only screen and (max-width: 10000px) {
   #Zone6-1 {
		background-color: #b0dbc2;
 	 	color: #000000;
 	 	padding: 4.5%;
	 	margin-left: 2px;
	   margin-top: 8px;
	 	border-radius: 5px;
	 	cursor: pointer;
   }
}
@media only screen and (max-width: 600px) {
   #Zone6-1 {
		background-color: #b0dbc2;
	 	color: #000000;
	 	padding: 5%;
	 	margin-left: 2px;
	   margin-top: 8px;
	 	border-radius: 5px;
	 	cursor: pointer;
   }
}
#Zone6-1:hover {
  background-color: #93baa3;
}
@media only screen and (max-width: 10000px) {
	#Zone6-2 {
		 background-color: #b0dbc2;
		   color: #000000;
		   padding: 6%;
		  margin-left: 2px;
		margin-top: 8px;
		  border-radius: 5px;
		  cursor: pointer;
	}
 }
 @media only screen and (max-width: 600px) {
	#Zone6-2 {
		 background-color: #b0dbc2;
		  color: #000000;
		  padding: 7%;
		  margin-left: 2px;
		margin-top: 8px;
		  border-radius: 5px;
		  cursor: pointer;
	}
 }
 #Zone6-2:hover {
   background-color: #93baa3;
 }

@media only screen and (max-width: 10000px) {
   #Zone7-1 {
		background-color: #b0dbc2;
 	 	color: #000000;
 	 	padding: 5%;
	 	margin-left: 2px;
	  margin-top: 8px;
	 	border-radius: 5px;
	 	cursor: pointer;
   }
}
@media only screen and (max-width: 600px) {
   #Zone7-1 {
		background-color: #b0dbc2;
	 	color: #000000;
	 	padding: 5%;
	 	margin-left: 2px;
	   margin-top: 8px;
	 	border-radius: 5px;
	 	cursor: pointer;
   }
}
#Zone7-1:hover {
  background-color: #93baa3;
}
@media only screen and (max-width: 10000px) {
   #Seat1 {
		background-color: #f6f6f6;
 	 	color: #000000;
 	 	padding:20%;
	 	margin-left: 5px;
	  margin-top: 8px;
	 	border-radius: 15px;
	 	cursor: pointer;
   }
}
@media only screen and (max-width: 600px) {
   #Seat1 {
		background-color: #f6f6f6;
	 	color: #000000;
	 	padding: 16%;
	 	margin-left: 5px;
	   margin-top: 8px;
	 	border-radius: 15px;
	 	cursor: pointer;
   }
}
@media only screen and (max-width: 10000px) {
   #Seat2 {
		background-color: #008ee2;
 	 	color: #ffffff;
 	 	padding:20%;
	 	margin-left: 5px;
	  margin-top: 8px;
	 	border-radius: 5px;
	 	cursor: pointer;
   }
}
@media only screen and (max-width: 600px) {
   #Seat2 {
		background-color: #008ee2;
	 	color: #ffffff;
	 	padding: 13%;
	 	margin-left: 5px;
	  margin-top: 8px;
	 	border-radius: 5px;
	 	cursor: pointer;
   }
}
@media only screen and (max-width: 10000px) {
   #disabledbutton {
		opacity: 0.4;
		background-color: #008ee2;
 	 	color: #ffffff;
 	 	padding:20%;
	 	margin-left: 5px;
	  margin-top: 8px;
	 	border-radius: 5px;
   }
}
@media only screen and (max-width: 600px) {
   #disabledbutton{
		opacity: 0.4;
		background-color: #008ee2;
	 	color: #ffffff;
	 	padding: 13%;
	 	margin-left: 5px;
	  margin-top: 8px;
	 	border-radius: 5px;
   }
}
@media only screen and (max-width: 10000px) {
   #top-6{
		 margin-top: 36%;
   }
}
@media only screen and (max-width: 600px) {
   #top-6{
     margin-top: 20%;
   }
}
@media only screen and (max-width: 600px) {
   #fixedElement{
		 position: -webkit-sticky;
	   position: sticky;
	   bottom: 1rem;
   }
}
div.Zone1.focused {
	background-color: #6db131;
}
div.Zone2.focused {
	background-color: #6db131;
}
div.Zone3.focused {
	background-color: #6db131;
}
.wrapper {
	width: 100%;
	text-align: center;
}
.booking-details {
	float: left;
	text-align: left;
	margin-left: 35px;
	font-size: 12px;
	position: relative;
	height: 401px;
}
.booking-details h2 {
	margin: 25px 0 20px 0;
	font-size: 17px;
}
.booking-details h3 {
	margin: 5px 5px 0 0;
	font-size: 14px;
}
div.seatCharts-cell {
	color: #182C4E;
	height: 25px;
	width: 25px;
	line-height: 25px;

}
div.seatCharts-seat {
	color: #FFFFFF;
	cursor: pointer;
}
div.seatCharts-row {
	height: 35px;
}
div.seatCharts-seat.available {
	background-color: #B9DEA0;

}
div.seatCharts-seat.available.first-class {
/* 	background: url(vip.png); */
	background-color: #3a78c3;
}
div.seatCharts-seat.focused {
	background-color: #76B474;
}
div.seatCharts-seat.selected {
	background-color: #E6CAC4;
}
div.seatCharts-seat.unavailable {
	background-color: #472B34;
}
div.seatCharts-container {
	border-right: 1px dotted #adadad;
	width: 200px;
	padding: 20px;
	float: left;
}
div.seatCharts-legend {
	padding-left: 0px;
	position: absolute;
	bottom: 16px;
}
ul.seatCharts-legendList {
	padding-left: 0px;
}
span.seatCharts-legendDescription {
	margin-left: 5px;
	line-height: 30px;
}
.checkout-button {
	display: block;
	margin: 10px 0;
	font-size: 14px;
}
#selected-seats {
	max-height: 90px;
	overflow-y: scroll;
	overflow-x: none;
	width: 170px;
}
